/* css comment*/
body{background-color:lightblue;}
h1{color:white;
	text-align:center;}
h2{color-green;
	text-align:center;}
	h3{color-red;
	text-align:liftft;}
	h4{color-black;
	text-align:center;}
	p{color:blue;
	text-align:center}