/*Css External file*/
body{
	background-color: #09a9f7;
}
li{
	color:white;
	/*border: 1px solid red;*/
	display: block;
	width: 200px;
	background: #770000;
	margin-top: 20px;
	font-size: 24px;
}

#first-li{
	background-color: white;
	color: black;
}

.items{
	font-weight: bolder;
}

.mt10{
	margin-top: 10px;
}
.mt100{
	margin-top: 100px;
}