/*Convert PSD to HTML*/

body{
	background-color: #d0d0d0;
	font-family: georgia;
}
h3{
	color: #894aa3;
	font-size: 20px;
}
h4{
	color: #894aa3;
	font-size: 16px;
}
p{
	font-size: 13px;
}
.main{
	width: 960px;
	height: auto;
	margin: 0px auto;
	margin-top: -8px;
}
.pink-box{
	width: 100%;
	height: 10px;
	background-color: #894aa3;
}
.head-box{
	background-color: #ffffff;
	height: 120px;
	border-bottom: 0.5px solid #e1e1e1;
}
.head-left-box{
	width: 36%;
	float: left;
	height: auto;
	margin-top: 35px;
	padding-left: 30px;
}
.logoLargeText{
	font-size:26px;
	font-variant: small-caps;
	color: #666666;
	margin-top: -7px;
}
.logoLargeText .Upper{
	text-transform: uppercase;
}
.logoLargeText .Lower {
    text-transform: lowercase;
}
.logoSmallText{
	font-size:12px;
	color: #999999;
	line-height: 30px;
}

.head-right-box{
	width: 60.5%;
	float: left;
	height: auto;
	
}
.right-search-box{
	height: 60px;
}
.search-input{
	float: right;
	width: 215px;
	height: 27px;
	margin-right: 30px;
	border: 1px solid #ebebea;
	background: #ebebea;
	border-radius: 0px 0px 5px 5px ;
	color: #8f54a8;
}
.search-input input{
	width: 81%;
    height: 20px;
    background: none;
    border: none;
    padding: 4px 4px 4px 10px;
    color: #8f54a8;
}
.search-input span{
	font-size: 9px;
    background: white;
    padding: 4px;
    border-radius: 12px;
}
.right-menu-box{
	height: 60px;
}

/*Menu styling starts here*/

.right-menu-box{
	color: #666666;
}
.right-menu-box ul{
	list-style-type: none;
	font-size: 12px;
	margin-left: -29px;
    margin-top: -6px;
}
.right-menu-box ul li{
    display: block;
    width: auto;
    float: left;
    margin-right: 30px;
}
.right-menu-box ul li a:link{
    color: #666666;
    text-decoration: none;
}
.right-menu-box ul li a:hover{
    color: #000000;
}


/*
** Shout styles start
*/
.shout{
	background-color: #ebebea;
	height: 100px;
	width: 100%;
	margin-top: 0px;
}
.shout-text{
	text-align: center;
	font-size: 22px;
	color: #333333;
	width: 710px;
	margin: 0 auto;
	padding-top: 25px;
	font-style: italic;
}

.card-box{
	float: left;
	margin-right: 20px;
}


